body {
    height: 100vh;
    background-color: whitesmoke;
}

#root, #innerRoot {
    height: 100%;
    background-color: white;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 0 .25em;
    /* background-color: rgb(59, 63, 66, .95); */
}

.navbar-brand img {
    max-height: 2.4rem;
}

.navbar-start .input {
    border: transparent;
}

.navbar-start .autocomp {
    position: fixed;
    background-color: white;
    color: black;
    font-size: 10pt;
    /* border: 1px solid red; */
    cursor: pointer;
}

.navbar-start .autocomp:hover {
    background-color: rgb(232, 238, 241);
}

.navbar-start .autocomp.selected {
    background-color: rgb(169, 222, 243);
}

.navbar-item {
    padding: 0 .75rem;
}

.navbar-item .greeting {
    /* font-size: 9pt; */
    font-size: 12pt;
    line-height: 90%;
    color: whitesmoke;
    margin: 1em;
    cursor: default;
}

.navbar-link h3 {
    /* font-size: 13pt; */
    line-height: 90%;
    text-align: right;
    color: white;
}

.navbar-item.has-dropdown,
.itemImg {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#howmany {
    width: 75vw;
    margin: 10px 12.5vw 10px;
}

.listing {
    border: thin solid gray;
    border-radius: 5px;
    width: 75vw;
    height: 180px;
    margin: 10px 12.5vw 10px;
}

#inboxes {
    height: 100vh;
}


