body {
    height: 100vh;
    background-color: whitesmoke;
}

#root, #innerRoot {
    height: 100%;
    background-color: white;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 0 .25em;
    /* background-color: rgb(59, 63, 66, .95); */
}

.navbar-brand img {
    max-height: 2.4rem;
}

.navbar-start .input {
    border: transparent;
}

.navbar-start .autocomp {
    position: fixed;
    background-color: white;
    color: black;
    font-size: 10pt;
    /* border: 1px solid red; */
    cursor: pointer;
}

.navbar-start .autocomp:hover {
    background-color: rgb(232, 238, 241);
}

.navbar-start .autocomp.selected {
    background-color: rgb(169, 222, 243);
}

.navbar-item {
    padding: 0 .75rem;
}

.navbar-item .greeting {
    /* font-size: 9pt; */
    font-size: 12pt;
    line-height: 90%;
    color: whitesmoke;
    margin: 1em;
    cursor: default;
}

.navbar-link h3 {
    /* font-size: 13pt; */
    line-height: 90%;
    text-align: right;
    color: white;
}

.navbar-item.has-dropdown,
.itemImg {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.viewport {
    margin: 0;
    height: 100%;
}

.viewport .column {
    padding: 0;
}

.itemsView {
    height: 100%;
    background-color: aliceblue;
}

.itemBlock {
    height: fit-content;
    text-align: right;
    cursor: pointer;
    padding: .25em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.itemBlock.is-new,
.itemBlock.is-new .subtitle {
    background-color: lightpink;
}
.itemBlock.is-even,
.itemBlock.is-even .subtitle,
.inquiryBlock.is-even,
.inquiryBlock.is-even .subtitle {
    background-color: lightseagreen;
    color: aliceblue;
}
.itemBlock.is-odd,
.itemBlock.is-odd .subtitle,
.inquiryBlock.is-odd,
.inquiryBlock.is-odd .subtitle {
    background-color: lightcyan;
}

.inquiriesView {
    height: 100%;
    background-color: aliceblue;
}

.inquiryBlock {
    height: fit-content;
    text-align: right;
    cursor: pointer;
    padding: .25em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.viewport .msgCol {
    padding: .25em;
}

.messageView {
    height: 100%;
    padding: .25em;
}

.blankMsg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blankMsg,
.blankMsg .columns {
    padding: .25em;
}

.blankMsg img {
    background-color: gray;
}

.displayMsg .from-date {
    display: flex;
    justify-content: space-between;
    /* vertical-align: middle; */
    align-items: baseline;
}

.displayMsg h2.title {
    margin: 0;
}

.displayMsg .msg.subtitle {
    padding-top: 1em;
    margin: 0;
}