body {
    height: 100vh;
    background-color: whitesmoke;
}

#root, #innerRoot {
    height: 100%;
    background-color: white;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 0 .25em;
    background-color: rgb(59, 63, 66, .95);
}

.navbar-brand img {
    max-height: 2.4rem;
}

.navbar-start .input {
    border: transparent;
}

.navbar-start .autocomp {
    position: fixed;
    background-color: white;
    color: black;
    font-size: 10pt;
    /* border: 1px solid red; */
    cursor: pointer;
}

.navbar-start .autocomp:hover {
    background-color: rgb(232, 238, 241);
}

.navbar-start .autocomp.selected {
    background-color: rgb(169, 222, 243);
}

.navbar-item {
    padding: 0 .75rem;
}

.navbar-item .greeting {
    /* font-size: 9pt; */
    font-size: 12pt;
    line-height: 90%;
    color: whitesmoke;
    margin: 1em;
    cursor: default;
}

.navbar-link h3 {
    /* font-size: 13pt; */
    line-height: 90%;
    text-align: right;
    color: white;
}

.navbar-item.has-dropdown,
.itemImg {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.viewport {
    margin: 0;
    height: 100%;
}

.viewport .column {
    padding: 0;
}

.viewport .viewBlock {
    height: fit-content;
    text-align: right;
    cursor: pointer;
    padding: .25em;
    margin: .5em .25em;
    border-radius: .5em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.viewport .itemsView {
    height: 100%;
    padding: .25em;
    background-color: rgb(59, 63, 66, .95);
}

.viewBlock {
    border-left: 6px solid transparent;
}
.viewBlock.is-selected {
    border-left: 6px solid black;
}
.itemBlock.is-new {
    background-color: #4B9CD3;
}
.itemBlock.is-new .subtitle {
    color: whitesmoke;
}
.itemBlock.is-new:hover {
    background-color: rgb(52, 130, 182);
}
.viewBlock.is-even {
    background-color: rgb(175, 216, 245);
}
.viewBlock.is-even:hover {
    background-color: rgb(138, 193, 230);
}
.viewBlock.is-odd {
    background-color: rgb(241, 247, 252);
}
.viewBlock.is-odd:hover {
    background-color: rgb(216, 226, 233);
}

.viewport .inquiriesView {
    height: 100%;
    padding: .25em;
    background-color: rgba(87, 94, 99, 0.95);
}

.blankInq.container {
    height: 100%;
    text-align: center;
    display: table;
}


.blankInq.container .content {
    display: table-cell;
    vertical-align: middle;
}

.blankInq .title {
    margin: .25em !important;
}

.viewport .messageView {
    height: 100%;
    padding: .5em 1em;
}

.blankMsg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blankMsg,
.blankMsg .columns {
    padding: .25em;
}

.blankMsg img {
    /* background-color: gray; */
    filter: invert(70%);
}

.displayMsg .from-date {
    display: flex;
    justify-content: space-between;
    /* vertical-align: middle; */
    align-items: baseline;
}

.displayMsg h2.title {
    margin: 0;
}

.displayMsg .msg.subtitle {
    padding: 1em 1em 2em 1em;
    margin: 0;
}

.displayMsg .msgLabel-Button {
    margin: 0;
}
.displayMsg .msgLabel-Button .label {
    color: palevioletred;
}
.displayMsg .button {
    color: whitesmoke;
    background-color: #4B9CD3;
}
.displayMsg .button:hover {
    color: whitesmoke;
    background-color: rgb(52, 133, 187);
}

.viewport .addItemView {
    padding: 1% 6%;
    margin: 0;
}

.addItemView .dept-num {
    margin: 0;
}

.addItemView .button {
    color: whitesmoke;
    background-color: #4B9CD3;
}
.addItemView .button:hover {
    color: whitesmoke;
    background-color: rgb(52, 133, 187);
}