body {
    background-color: whitesmoke;
}

.navbar-brand img {
    max-height: 2.4rem;
}

.navbar-start .input {
    border: transparent;
}

.navbar-link {
    display: block;
}

.navbar-link h2 {
    font-size: 9pt;
    line-height: 90%;
    color: whitesmoke;
}

.navbar-link h3 {
    font-size: 12pt;
    line-height: 90%;
    text-align: right;
    color: white;
}

h1 {
    font-size: 5vw;
    color: #FFFFFF;
}

#itemCount {
    margin-top: .25em;
}

.listing {
    border: thin solid gray;
    border-radius: 5px;
    width: 75vw;
    height: 180px;
}

.columns {
    margin: 0 2em 1em 2em;
}

.columns.selected {
    margin: 1.5em 0 1.5em 0;
}

.pagination {
    margin: 1em;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}
