body {
    height: 100vh;
    background-color: whitesmoke;
}

#root, #innerRoot {
    height: 100%;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 0 .25em;
}

.navbar-brand img {
    max-height: 2.4rem;
}

.navbar-start .input {
    border: transparent;
}

.navbar-start .autocomp {
    position: fixed;
    background-color: white;
    color: black;
    font-size: 10pt;
    /* border: 1px solid red; */
    cursor: pointer;
}

.navbar-start .autocomp:hover {
    background-color: aquamarine;
}

.navbar-start .autocomp.selected {
    background-color: aqua;
}

.navbar-item {
    padding: 0 .75rem;
}

.navbar-item .greeting {
    /* font-size: 9pt; */
    font-size: 12pt;
    line-height: 90%;
    color: whitesmoke;
    margin: 1em;
    cursor: default;
}

.navbar-link h3 {
    /* font-size: 13pt; */
    line-height: 90%;
    text-align: right;
    color: white;
}

.navbar-item.has-dropdown {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.listView {
    background-color: whitesmoke;
    padding: 3em 0 5em 0;
    min-height: 100%;
}

#itemCount {
    margin: 0;
    padding: 1em 2em .5em 2em;
}

#blankPage {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    /* margin: 2em; */
}

#blankPage img {
    background-color: rgba(0, 0, 0, .1);
    margin: 1em;
}

#blankPage .subtitle {
    text-align: center;
    max-width: 90vw;
}

#itemCount .column {
    padding: 0 1.5em;
    cursor: default;
}

.listView > .columns {
    padding: .5em 2em;
    margin: 0;
}

.listView > .columns.selected {
    padding: 0;
    margin: 0;
}

.listing {
    border: thin solid gray;
    border-radius: 5px;
    cursor: pointer;
    height: 8em;
}

.listing .columns {
    margin: 0;
    height: 6.5em;
    white-space: nowrap;
    overflow: hidden;
}

.listView .columns.selected .listing {
    height: fit-content;
    padding: .75em 1em;
}

.listView .columns.selected .listing .columns {
    height: fit-content;
}

.itemImg {
    padding: 0;
    text-align: center;
    align-self: center;
}

.itemInfo {
    padding: 0 1em;
}

.itemInfo h1.title {
    /* line-height: 90%; */
    color: red;
    margin-bottom: .25em;
    /* margin: 0; */
}

.itemInfo .seller-date {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.listView .columns.selected .itemInfo .seller-date,
.listView .columns.selected .itemInfo .desc {
    cursor: text;
}

.itemInfo .seller-date .title {
    margin-bottom: .5em;
}

.itemInfo .seller-date .subtitle {
    margin: 0;
}

.itemInfo .desc {
    word-break: break-all;
    white-space: normal;
}

.pagination {
    padding: 1em;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 1023px){
    .navbar {
        width: 100vw;
    }

    .navbar-item.has-dropdown a.navbar-item {
        color: whitesmoke;
    }

    .navbar-item.has-dropdown a.navbar-item:hover {
        color: dimgray;
    }

    .navbar-link, .navbar-dropdown {
        text-align: right;
    }

    .listView > .columns {
        margin: 0 2em 1em 2em;
        justify-content: unset;
        display: flex;
    }

    .listView > .columns.selected {
        margin: 0 3em 1em 3em;
    }

    .listing > .columns {
        display: flex;
    }

    .buyItem .column.is-1 {
        display: none;
    }
}
