* {
}

html {
    overflow-y: hidden;
}

#body {
    background-image: url("./pano-bg-oldwell.jpg");
    background-repeat: repeat-x;
    background-size: 350vw 100vh;
    height: 100vh;
    width: 100vw;

    animation: backgroundScroll 120s linear infinite;
}

@keyframes backgroundScroll {
    from{background-position: 0 0;}
    to{background-position: -5380px 0;}
}

/* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
} */

h1 {
    font-size: 5vw;
    color: #FFFFFF;
}

span {
    color: #AAAAAA;
}

#searchbar {
    background-image: url("./search-bar.png");
    background-repeat: no-repeat;
    width: 416px;
    height: 53px;
    margin: 5px;
}

#login {
    margin: 15px;
}

#topbar {
    width: 100vw;
}

#innersearch {
    background: transparent;
    border: transparent;
    text-align: center;
    height: 100%;
    font-size: 1.5rem;
}

input:focus {
    outline: none;
}